 
BODY
{
	margin: 0;
	padding: 0;
	border: 0;
/*This removes the border around the viewport in old versions of IE*/
	width: 1300px;
	background: #FFF;
	min-width: 600px;
/*Minimum width of layout - remove line if not required
The min-width property does not work in old versions of Internet Explorer*/
	font-size: 95%;
	font-family: Noto Serif, Montserrat, Lato, serif,;
}
A
{
	color: #369;
}
A:hover
{
	color: #FFF;
	background: #369;
	text-decoration: none;
}
#box A
{
	color: #000;
}
#box A:hover
{
	color: #FFF;
	background: #369;
	text-decoration: none;
}
H1, H2, H3
{
	margin: 0.8em 0 0.2em;
	padding: 0;
}
P
{
	margin: 0.4em 0 0.8em;
	padding: 0;
}
IMG
{
	margin: 10px 0 5px;
}
#ads IMG
{
	display: block;
	padding-top: 10px;
}
/*Header styles*/
#header
{
	clear: both;
	float: left;
	width: 100%;
}
#header
{
	border-bottom: 1px none #000;
}
#header P, #header H1, #header H2
{
	padding: 0.4em 15px 0 1.5em;
	margin: 0;
}
#header UL
{
	clear: left;
	float: left;
	width: 100%;
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
#header UL LI
{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header UL LI A
{
	display: block;
	float: left;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	text-align: center;
	background: #EEE;
	color: #000;
	text-decoration: none;
	position: relative;
	left: 15px;
	line-height: 1.3em;
}
#header UL LI A:hover
{
	background: #369;
	color: #FFF;
}
#header UL LI A.active, #header UL LI A.active:hover
{
	color: #FFF;
	background: #000;
	font-weight: bold;
}
#header UL LI A SPAN
{
	display: block;
}
/*'widths' sub menu*/
#layoutdims
{
	clear: both;
	background: #EEE;
	border-top: 4px solid #000;
	margin: 0;
	padding: 6px 15px !important;
	text-align: right;
}
/*column container*/
.colmask
{
	position: relative;
/*This fixes the IE7 overflow hidden bug*/
	clear: both;
	float: left;
	width: 100%;
/*width of whole page*/
	overflow: hidden;
/*This chops off any overhanging divs*/
}
/*common column settings*/
.colright, .colmid, .colleft
{
	float: right;
	width: 100%;
	position: relative;
}
.col1, .col2, .col3, .box1
{
	float: left;
	position: relative;
	padding: 0 0 1em;
	overflow: hidden;
}
/*2 Column (left menu) settings*/
.leftmenu
{
	background: #FFF;
/*right column background colour*/
}
.leftmenu .colleft
{
	right: 75%;
/*right column width*/
	background: #FFFFFF;
/*background:#f4f4f4;
left column background colour*/
}
.leftmenu .col1
{
	width: 75%;
/*right column content width*/
	left: 100%;
/*100% plus left column left padding*/
}
.leftmenu .col2
{
	width: 25%;
/*left column content width (column width minus left and right padding)*/
	left: 5%;
/*(right column left and right padding) plus (left column left padding)*/
}
.leftmenu .box1
{
	width: 80%;
/*left column content width (column width minus left and right padding)*/
	padding: 2px;
/*(right column left and right padding) plus (left column left padding)*/
	background: #FFFFFF;
	border-style: none;
	border-width: 1px;
	margin: 5px 5px 2px 2px;
	padding-left: 2em;
	display: block;
}
/*Footer styles*/
#footer
{
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #999;
}
#footer P
{
	padding: 10px;
	margin: 0;
}
